.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.header-container {
  width: 100%;
}

@media (min-width: 1024px) {
  .header-container {
    width: 1000px;
    margin: 0 auto;
  }
}
