.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.header-container {
  width: 100%;
}

.hero-container {
  width: 100%;
}

.hero-description-container {
  width: 100%;
}

.arrow-container {
  position: absolute;
  right: -60px;
  top: 60px;
}

.arrow {
  width: 12rem;
  opacity: 0.1;
  transform: rotateZ(135deg);
}

.explore-tools-container {
  width: 100%;
}

@media (min-width: 1024px) {
  .header-container {
    width: 1000px;
    margin: 0 auto;
  }

  .arrow-container {
    position: absolute;
    right: 100px;
    top: 70px;
  }

  .arrow {
    width: 12rem;
    transform: rotateZ(135deg);
  }

  .arrow {
    width: 8rem;
    transform: rotateZ(165deg);
  }

  .hero-container {
    width: 800px;
  }

  .hero-description-container {
    width: 600px;
  }

  .explore-tools-container {
    width: 1000px;
  }
}
