.main {
  gap: 32px;
  width: 100%;
  margin: 80px auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 16px;
  margin-bottom: 64px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
}

.content h2 {
  margin-top: 72px;
}

@media (min-width: 1024px) {
  .main {
    width: 1024px;
  }
}
